@import url(http://fonts.googleapis.com/css?family=Muli);

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

p {
    line-height: 1.8;
}

a:hover {
    color: coral;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

h1 {
    border-bottom: 3px solid #bbb;
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
}