<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registrarse</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body style="background-color: lightskyblue">
    <center>
    {% block content %}
    <h1> Registrate</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table-danger">
            {% for field in form %}
                <tr>
                    <th> {{field.label}}</th>
                    <td> {{field }}</td>
                </tr>
            {% endfor %}
        </table>
        <button  type="submit" class="btn btn-lg btn-primary"> next </button>
    </form>
    {% endblock %}
     </center>
</body>
</html>